* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

#passwordInput{
    width: 230px;
    height: 150px;   
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px; 
    padding: 30px;
}

#passwordsettings{
    width: 230px;
    height: 160px;   
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px; 
    padding: 30px;
    position: relative;
    left: -30px;
    top: 50px
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#passwordField, #testPasswordField {
    width: 100%;
    padding: 10px;
    font-size: 1.2em;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

.box input
{
    position: absolute;
    inset: 2px;
    z-index: 10;
    font-size: 1em;
    border: none;
    outline: none;
    padding: 10px 15px;
    background:
    #ffffff;
    border-radius: 4px;    
}


.box
{
    margin: 10px;
    position: relative;
    width: 300px;
    height: 50px;
}
.box h2
{
    position: absolute;
    top: -40px;
    font-size: 1.25em;
    color: black;
    font-weight: 500;
}


.box .password-strength
{
    position: absolute;
    inset: 0;
    background: white;
}
.box .password-strength:nth-child(3) {
    filter: blur(5px);
}
.box .password-strength:nth-child(4) {
    filter: blur(10px);
}
